In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv')

In [3]:
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
aux = df[['Name','Publisher', 'Platform']]

In [5]:
aux['default_rank_total'] = aux['Platform'].rank() ##Default
aux['max_rank_total'] = aux['Platform'].rank(method='max') ##m√°ximo 
aux['min_rank_total'] = aux['Platform'].rank(method='min') ##minimo 
aux['avg_rank_total'] = aux['Platform'].rank(method='average') ##promedio 

aux['dense_rank_total'] = aux['Platform'].rank(method='dense') ##densidad 
aux['NA_bottom_total'] = aux['Platform'].rank(na_option='bottom')
aux['pct_rank_total'] = aux['Platform'].rank(pct=True)
aux.sort_values('avg_rank_total').head(15)

/home/alex/myenv/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/alex/myenv/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/alex/myenv/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/alex/myenv/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/alex/myenv/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/alex/myenv/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/alex/myenv/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Name,Publisher,Platform,default_rank_total,max_rank_total,min_rank_total,avg_rank_total,dense_rank_total,NA_bottom_total,pct_rank_total
6923,Dark Cavern,Mattel Interactive,2600,67.0,133.0,1.0,67.0,1.0,67.0,0.004007
773,Demon Attack,Imagic,2600,67.0,133.0,1.0,67.0,1.0,67.0,0.004007
3021,Adventures of Tron,Mattel Interactive,2600,67.0,133.0,1.0,67.0,1.0,67.0,0.004007
3941,Midnight Magic,Atari,2600,67.0,133.0,1.0,67.0,1.0,67.0,0.004007
5935,RealSports Boxing,Atari,2600,67.0,133.0,1.0,67.0,1.0,67.0,0.004007
11748,Super Football,Atari,2600,67.0,133.0,1.0,67.0,1.0,67.0,0.004007
4948,Airlock,Data Age,2600,67.0,133.0,1.0,67.0,1.0,67.0,0.004007
4366,Jawbreaker,Tigervision,2600,67.0,133.0,1.0,67.0,1.0,67.0,0.004007
2578,Alien,20th Century Fox Video Games,2600,67.0,133.0,1.0,67.0,1.0,67.0,0.004007
2106,Air-Sea Battle,Atari,2600,67.0,133.0,1.0,67.0,1.0,67.0,0.004007
1850,Megamania,Activision,2600,67.0,133.0,1.0,67.0,1.0,67.0,0.004007
1851,Jungle Hunt,Atari,2600,67.0,133.0,1.0,67.0,1.0,67.0,0.004007
9488,RealSports Volleyball,Atari,2600,67.0,133.0,1.0,67.0,1.0,67.0,0.004007
6845,Front Line,Taito,2600,67.0,133.0,1.0,67.0,1.0,67.0,0.004007
240,Pitfall!,Activision,2600,67.0,133.0,1.0,67.0,1.0,67.0,0.004007

In [6]:
aux.head()

,Name,Publisher,Platform,default_rank_total,max_rank_total,min_rank_total,avg_rank_total,dense_rank_total,NA_bottom_total,pct_rank_total
0,Wii Sports,Nintendo,Wii,13579.5,14239.0,12920.0,13579.5,27.0,13579.5,0.812220
1,Super Mario Bros.,Nintendo,NES,4734.5,4783.0,4686.0,4734.5,12.0,4734.5,0.283181
2,Mario Kart Wii,Nintendo,Wii,13579.5,14239.0,12920.0,13579.5,27.0,13579.5,0.812220
3,Wii Sports Resort,Nintendo,Wii,13579.5,14239.0,12920.0,13579.5,27.0,13579.5,0.812220
4,Pokemon Red/Pokemon Blue,Nintendo,GB,2909.5,2958.0,2861.0,2909.5,6.0,2909.5,0.174024